.contests__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contests__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.contests__table {
  width: 70%;
}

.contest__AddButton {
  margin-bottom: 1rem;
  width: 70%;
}
